<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <!-- <p>{{thisquote.creator.email}}</p>
        <p>old info {{thisquote.quoted}}  {{thisquote.quotetxt}}</p> -->
        <form action="/editquote" method="post">
        <p>new quote author <input type="text" name="newqd" id=""></p>
        <p>new quote text <input type="text" name="newq" id=""></p>
        <input type="submit" value="update quote">
        </form>
    
</body>
</html>