<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>{{thisquote.creator.email}}</p>
    <p>{{thisquote.creator.quoteCreator.all.count}}</p>
    {% for quoteblah in thisquote.creator.quoteCreator.all %}
    <p>{{quoteblah.quoted}} : {{quoteblah.quotetxt}}</p>
    <p><a href="/openeditquote/{{quoteblah.id}}">edit</a></p>
    {% endfor %}
</body>
</html>